.modal
  position: absolute
  top: 100px
  left: 50%
  width: 100%
  width: 528px
  opacity: 0
  transform: translate(-50%, 0) scale(0.5)
  transition: 0.3s all ease
  z-index: -1
  visibility: hidden
  padding: 0 15px
  &__in
    z-index: 1004
    opacity: 1
    visibility: visible
    transform: translate(-50%, 0) scale(1)
  &__btn-close
    color: inherit
  &__close
    position: absolute
    top: -25px
    right: 5px @md -25px
    background: svg-load('icons/close.svg', fill: #fff) no-repeat center
    background-size: cover
    size: 20px
    display: block
    cursor: pointer
  &__title
    text: $colorWhite 27px 1 300
    margin: 30px 0 0
  &__text
    text: #afc3e4 14px 1.3 300
    margin: 15px 0
  &__footer
    border-top: 1px solid rgba(#485e81,0.5)
    padding: 15px 0
    text: #94add9 14px 1.3 300
    a
      text: #38b6ff 500
      text-decoration: none
      &:hover
        text-decoration: underline
  .form-row
    margin-bottom: 15px
#api-code
  background: transparent
