.btn
  border-radius: $borderRadiusMini
  text: $colorWhite 14px 1 300 center
  cursor: pointer
  border: 0
  outline: 0
  display: inline-block
  vertical-align: top
  padding: 10px 15px
  transition: 0.3s all ease
  text-decoration: none
  background: $colorBtn
  position: relative
  z-index: 1
  &:before
    z-index: -1
    content: ''
    display: block
    size: 100% 0
    top: 0
    left: 0
    position: absolute
    background: $colorBtnHover
    transition: 0.3s all ease
    border-radius: $borderRadiusMini
  &:hover,
  &--active
    opacity: 1!important
    &:before
      height: 100%
  &--sel
    cursor: default
    box-shadow: inset 0 0 0 1px #7e93b7
    &:before
      display: none
  &__block
    cursor: default
    &:before
      display: none
  &__badge
    position: absolute
    size: 18px
    border-radius: 100%
    text: $colorWhite 10px 18px 500 center
    top: -9px
    right: -9px
    z-index: 10
    background: $colorBlue
  &__large
    font-size: 16px
    padding: 12px 25px
    border-radius: $borderRadiusSmall
    &:before
      border-radius: $borderRadiusSmall
  &__xxl
    font-size: 18px
    padding: 17px 25px
    letter-spacing: 1px
  &__mega
    font-size: 16px
    font-weight: 400
    padding: 15px 25px
    border-radius: $borderRadiusSmall
    &:before
      border-radius: $borderRadiusSmall
  &__small
    border-radius: $borderRadiusMini
    font-size: 12px
    font-weight: 300
    padding: 5px 10px
    &:before
      border-radius: $borderRadiusMini
    &--icon
      padding: 0 4px
      height: 22px
      display: inline-flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      .icon--fullscreen
        width: 22px
        height: 16px
  &__mini
    border-radius: $borderRadiusSmall
    font-size: 10px
    font-weight: 300
    padding: 4px 8px
    &:before
      border-radius: $borderRadiusSmall
  &__full
    width: 100%
  &__blue
    background: $colorBtnBlue
    color: $colorContent
    &:before
      background: $colorBtnBlueHover
  &__blue-2
    background: $colorBlue
    &:before
      background: $colorBtnBlue
    &:hover
      color: $colorContent
  &__green
    background: $colorBtnGreen
    color: $colorWhite
    &:before
      background: $colorBtnGreenHover
  &__red
    background: $colorBtnRed
    color: $colorWhite
    &:before
      background: $colorBtnRedHover
  &__black
    background: $colorBtnHover
    text: $colorWhite
    &:before
      background: $colorBlue
  &__gray
    background: #425677
    &:before
      background: $colorBtn
  &__yellow
    background: $colorBtnYellow
    text: #374519
    &:before
      background: $colorBtnBlue
  &__p-large
    padding-left: 30px
    padding-right: 30px
  &__remove-wrap
    padding-right: 40px!important
  &__remove
    position: absolute
    top: 50%
    right: 8px
    margin-top: -4px
  &__link
    background: transparent

.btn-r
  text: #8fa6cf 12px 1 300 center
  padding: 10px 15px
  border: 1px solid rgba(#546684,0.2)
  border-radius: $borderRadiusSmall
  display: inline-block
  vertical-align: top
  outline: 0
  transition: 0.3s all ease
  text-decoration: none
  position: relative
  z-index: 2
  cursor: pointer
  &:before
    position: absolute
    top: 0
    left: 0
    size: 100% 0
    transition: 0.3s all ease
    display: block
    background: $colorBtnHover
    content: ''
    z-index: -1
    border-radius: $borderRadiusSmall
  &:hover,
  &--active
    border-color: $colorBtnHover
    &:before
      height: 100%
  &__large
    font-size: 16px
    padding: 10px 25px

.btn-c
  height: 38px
  padding: 0 25px
  text: $colorWhite 13px 38px 400
  display: inline-block
  vertical-align: top
  cursor: pointer
  text-decoration: none
  margin: 0
  outline: 0
  position: relative
  text-align: center
  z-index: 2
  cursor: pointer
  background: $colorBtn
  transition: 0.3s all ease
  border-radius: 38px
  letter-spacing: 0.5px
  &:hover,
  &--active
    background: $colorBtnHover
    text: $colorWhite
  &__white
    background: $colorWhite
    text: #267ecb
    &:hover
      text: $colorWhite
      background: #267ecb


.btn-row
  margin: * -2px
  margin-top: $indentSmall
  box: wrap
  &__item
    padding: 0 2px
    margin-bottom: $indentMini
  &__tag
    text: #d7e2f3 11px 22px
    margin-left: 10px
    height: 22px
    &-remove
      text-decoration: none
      display: inline-block
      vertical-align: top
      margin: 6px 0 0 3px
      .icon
        size: 8px
        transition: 0.3s all ease
        fill: $colorWhite
      &:hover
        .icon
          fill: $colorRed
.btn-row-c
  box: horizontal center
  padding: 10px 0 0
  &__item
    padding: 0 2px
  &__link
    height: 22px
    border-radius: $borderRadiusSmall
    text: #8797af 11px 22px
    text-decoration: none
    transition: 0.3s all ease
    padding: 0 10px
    cursor: pointer
    display: block
    &:hover ,
    &--active
      text: $colorWhite
      background: #394c6b
