#overlay
  position: fixed
  top: 0
  left: 0
  size: 100%
  background: rgba($colorMain,0.9)
  display: none
  z-index: 900
.justify-content-start
  justify-content: flex-start!important
.justify-content-center
  justify-content: center!important
.justify-content-end
  justify-content: flex-end!important
.justify-content-around
  justify-content: space-around!important
.justify-content-between
  justify-content: space-between!important
.align-self-start
  align-self: flex-start!important
.align-self-center
  align-self: center!important
.align-self-end
  align-self: flex-end!important

.flex-center-cont
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

.hidden
  display: none!important
.show
  display: block!important
.text-center
  text-align: center!important
.text-left
  text-align: left!important
.text-right
  text-align: right!important
.text-justify
  text-align: justify!important
.text-uppercase
  text-transform: uppercase!important
.mr-auto
  margin-right: auto!important
.ml-auto
  margin-left: auto!important
.m-auto
  margin-left: auto
  margin-right: auto

.inner-block
  background: $colorContent
  box-shadow: $boxshadowDefault
  min-height: 10px
.pro
  height: 13px
  text: $colorWhite 10px 13px 500 uppercase
  background: #f69d3e
  padding: 0 $indentMini
  border-radius: 13px
  margin-left: $indentMini
  display: inline-block
  vertical-align: top

.min-h-full
  min-height: 100%
.h-full
  height: 100%

.w-265
  width: 265px!important
.w-230
  width: 230px!important
.w-140
  width: 140px!important

.opacity-0_1
  opacity: .1!important
.opacity-0_2
  opacity: .2!important
.opacity-0_5
  opacity: .5!important

[class*="z-index-"]
  position: relative
.z-index-10
  z-index: 10
.z-index-20
  z-index: 20
.z-index-30
  z-index: 30
.z-index-50
  z-index: 50
.z-index-100
  z-index: 100

.p
  &-0
    padding: 0!important
  &-15
    padding: 15px!important
.pl
  &-0
    padding-left: 0!important
  &-15
    padding-left: 15px!important
.pr
  &-0
    padding-right: 0!important
  &-15
    padding-right: 15px!important
.pb
  &-0
    padding-bottom: 0!important
  &-15
    padding-bottom: 15px!important
.pt
  &-0
    padding-top: 0!important
  &-15
    padding-top: 15px!important
.m
  &-0
    margin: 0!important
  &-8
    margin: 8px!important
  &-10
    margin: 10px!important
  &-15
    margin: 15px!important
  &-20
    margin: 20px!important
  &-30
    margin: 30px!important
  &-mini
    margin: $indentMini!important

.mt
  &-0
    margin-top: 0!important
  &-10
    margin-top: 10px!important
  &-8
    margin-top: 8px!important
  &-15
    margin-top: 15px!important
  &-20
    margin-top: 20px!important
  &-30
    margin-top: 30px!important
  &-mini
    margin-top: $indentMini!important
.mr
  &-0
    margin-right: 0!important
  &-10
    margin-right: 10px!important
  &-8
    margin-right: 8px!important
  &-15
    margin-right: 15px!important
  &-20
    margin-right: 20px!important
  &-30
    margin-right: 30px!important
  &-mini
    margin-right: $indentMini!important
.mb
  &-0
    margin-bottom: 0!important
  &-10
    margin-bottom: 10px!important
  &-8
    margin-bottom: 8px!important
  &-15
    margin-bottom: 15px!important
  &-20
    margin-bottom: 20px!important
  &-30
    margin-bottom: 30px!important
  &-mini
    margin-bottom: $indentMini!important
.ml
  &-0
    margin-left: 0!important
  &-10
    margin-left: 10px!important
  &-8
    margin-left: 8px!important
  &-15
    margin-left: 15px!important
  &-20
    margin-left: 20px!important
  &-30
    margin-left: 30px!important
  &-mini
    margin-left: $indentMini!important
.p-cont
  padding: 38px 25px
.p-cont-2
  padding: 20px 15px
.p-cont-3
  padding: 15px  20px
.p-inner
  padding: 18px 30px
.p-cont-mega
  padding: 38px $indentMega
