*
  box-sizing: border-box
:after,
:before
  box-sizing: border-box
body
  min-width: 1200px
  font-family: $fotnRoboto
  text: $colorWhite 16px 1.4 400
  background: $colorMain
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
